@import '../../../styles/partial/vars';

.wrapper {
  .innerWrapper {
    padding: 60px 0;

    @media all and (max-width: 375px) {
      padding: 45px 0;

      :global(.heading) {
        text-align: center;
      }
    }

    .tableHeadTitles {
      width: 100%;

      @media all and (max-width: 425px) {
        font-size: 14px;
      }

      .currency {
        text-align: center;

        img {
          margin-right: 15px;
          max-width: 60px;
          @media all and (max-width: 425px) {
            margin-right: 0;
          }
        }
      }

      .bank {
        text-align: center;
      }

      .address {
        text-align: right;
        @media all and (max-width: 320px) {
        }
      }
    }
    .tableBodyElements {
      width: 100%;
    }

    :global(.table-body-wrapper) {
      min-width: 650px;
    }
  }
}
