.image-wrapper {
  width: 100%;

  .img {
    background-size: cover;
    width: 100%;

    @media all and (max-width: 500px) {
      background-size: none;
      height: auto !important;
      min-height: 0 !important;
    }
  }

  @media all and (max-width: 991px) {
    margin-bottom: 9px;
  }
}