@import "./vars";

.svg-icon {
  width: 22px;
  height: 27px;
  fill: transparent;
  stroke: #545454;

  &._calculator {
    fill: #545454;
    stroke: transparent;
    width: 26px;
    height: 25px;
  }

  &._contact {
    fill: #545454;
    stroke: transparent;
  }

  &._location {

    &:hover {
      fill: $blue;
      stroke: $blue;
    }
  }
}