@import '../../../styles/base.scss';

.gridBlock {
  padding-bottom: 45px;

  .leftBlock {

    .title {
      color: $blue;
      font-size: 24px;
      margin-bottom: 30px;
      font-family: $primaryFont;

      @media all and (max-width: 425px) {
        margin-bottom: 6px;
      }
    }

    .innerLeft {
      padding-right: 45px;
      span {
        display: block;
        border-bottom: 1px solid $grey;
        padding: 15px 0;
        display: flex;
  
        svg {
          color: $red;
          margin-right: 15px;
          font-size: 21px;
        }
      }
    }
  }

  .rightBlock {

    .title {
      color: $blue;
      font-size: 24px;
      margin-bottom: 30px;
      padding-left: 45px;
      font-family: $primaryFont;

    }

    .innerRight {
      padding-left: 45px;
      border-left: 1px solid $grey;

      span {
        display: block;
        border-bottom: 1px solid $grey;
        padding: 15px 0;
        display: flex;
  
        svg {
          color: $red;
          margin-right: 15px;
          font-size: 21px;
        }
      }
    }

    @media all and (max-width: $screenTablet) {
      margin-top: 30px;

      .innerRight {
        padding: 0;
        border: none;
      }
    }
  }

  :global(.wysiwyg) {
    h1, h2, h3, h4, h5, h6 {
      color: $blue;
      margin-bottom: 30px;
      padding-left: 45px;
      font-family: $primaryFont;
      font-weight: normal;
    }

    ul {

      li {
        padding: 15px 0 15px 45px;
        display: block;
        border-bottom: 1px solid $grey;
      }
    }

    @media all and (max-width: $screenTablet) {

      h1, h2, h3, h4, h5, h6 {
        padding: 0;
      }
    }
  }
}