@import '../../styles/base.scss';

.contentHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .sn {
    width: 45px;
  }
  .details {
    flex-grow: 1;
  }
}
.primaryPanel {
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
  a {
    margin-right: 15px;
  }
}

.transactionRow {
  padding: 18px 30px;
  background: $grey;
  color: #000;
  display: flex;
  margin-bottom: 6px;

  span:first-child {
    width: 45px;
  }

  span:nth-child(2) {
    flex-grow: 1;
  }
}

.transactionTableDetails {
  flex-grow: 1;
}

.transactionTableIndex {
  width: 45px;
}