@import '../../styles/partial/vars';

.wrapper {
  .panel {
    display: flex;
    flex-direction: column;
    background: $grey;
    padding: 13px 30px;
    margin-bottom: 3px;
    margin-top: 3px;
    cursor: pointer;
    .row {
      display: flex;
      width: 100%;
      position: relative;
      .number {
        min-width: 45px;
      }
      .primary {
        flex-grow: 1;
        color: $blue2;
        padding-right: 45px;
      }
      .arrow {
        width: 45px;
        position: absolute;
        right: 0;
        pointer-events: none;
      }
    }
    .expandedPanel {
      display: none; 
      margin-left: 45px;
      margin-top: 12px;
    }
    &:global(.active) {
      .expandedPanel {
        display: block;
      }
    }
    &:global(.compact) {
      &:global(.active) {
        .primary {
          color: $red;
        }
      }
      .row {
        .primary {
          order: 2;
        }
        .arrow {
          order: 1;
        }
      }
    }

    @media all and (max-width: $screenMobile) {
      padding: 6px 15px;
    }
  }
}