@import '../../../styles/partial/vars';

.wrapper {

  .tabContent {
    margin-top: 30px;
  }

  :global(._heading) {
    margin-top: 60px;
  }

  .contentCard {
    margin-bottom: 15px;

    .content {
      margin-bottom: 30px;
      word-break: break-all;

      h5 {
        color: $red;
      }

    }
  }
}

.contentElement {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  span {
    display: block;

    a {
      color: $blue2;
    }
  }
}
