@import '../../../styles/partial/vars';

.strip {
  background: $grey;
}


/* Component BranchlessBanking Content CSS Below */
.contentWrapper {
  .heading {
    margin-top: 30px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 425px) {
      flex-direction: column;
      text-align: center;
    }

    h1 {
      color: $blue;
    }
    .location {
      color: $red;
    }
  }
}