@import '../../styles/partial/vars';

.wrapper {
  .top {
    margin-bottom: 30px;
  }
  .tableGrid {
    width: 100%;
  }
  .buying {
    text-align: center
  }
  .others {
    text-align: center;
  }
  .selling {
    text-align: right;
  }
  .flag {
    img {
      margin-right: 15px;
    }
  }
  :global(.table-contents) {
    background: $white;
  }
}

.datePicker {
  display: flex;
}

.fakeDateInput {
  position: relative;
  margin-right: 9px;

  input {
    width: 60px;
    padding: 3px 24px 3px 9px;
    cursor: pointer;
    background: none;
    border: 1px solid #D0D0D0;
  }

  svg {
    position: absolute;
    right: 6px;
    top: 9px;
    pointer-events: none;
  }
}