@import '../../styles/base.scss';

.wrapper {
  background: url('/img/subscribtion_Bg.jpg') no-repeat;
  .flexSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 15px;

    @media all and (max-width: 1024px) {
      justify-content: space-around;
    }

    .block {
      
      form {
        display: flex;
      }

      input {
        width: 100%;
        padding: 3px;
        padding-left: 12px;
        border: 1px solid $borderGrey;
        margin-right: 9px;
      }
    }

    @media all and (max-width: $screenMobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.title {
  margin-right: 30px;
  color: $white;
  font-size: 16px;
}

.button {
  background: $red2;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 10px 15px;

  &:disabled {
    cursor: not-allowed;
    background: transparentize($red2, .5);
  }
}