@import "../../styles/partial/vars";

#locator-map {
  height: calc(100vh - 111px);
  display: flex;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: $grey;
  }
  &::-webkit-scrollbar-thumb {
    background: $darkGrey;
  }

  .map-sidebar {
    background: #fff;
    padding: 9px;
    width: 350px;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    height: calc(100vh - 111px);
    left: 0;
    transition: all .3s ease;

    .title {
      padding: 15px 0;
      color: $red;
    }

    .locations {
      overflow: auto;


      .view-all-btn {
        background: #fff;
        border: none;
        color: $blue2;
        margin: 24px 36px;
      }

      ._panel {
        background: $white;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 1px solid $grey;
        padding: 15px 15px 15px 0;
      }

      .secondary {
        display: flex;

        div {
          flex-grow: 1;
        }

        svg {
          color: $blue2;
          font-size: 20px;
          align-self: flex-end;
          margin-bottom: 7px;
        }

        span {
          display: block;
          margin-bottom: 3px;
          font-size: 14px;
        }
      }

      .expansion-arrow {
        width: auto;
      }
    }

    .sidebar-toggle {
      background: #FFF;
      position: absolute;
      right: -48px;
      bottom: 80px;
      padding: 9px;
      z-index: 10;
      border-radius: 0 5px 5px 0;

      svg {
        font-size: 30px;
        transform: rotateZ(180deg);
        transition: all .3s ease;
      }
      
      &.collapsed {
        
        svg {
          transform: rotateZ(0);
          transition: all .3s ease;
        }
      }
    }
  }

  .map-holder {
    flex-grow: 1;
    position: absolute;
    left: 350px;
    right: 0;
    height: calc(100vh - 111px);
  }

  .search-map-wrap {
    position: relative;

    .ant-input-suffix {
      top: 3px;
      right: 3px;
    }

    .search-map {
      background: #EBE9E5;
      border-radius: 3px;
      border: 1px solid #D0D0D0;
      width: 100%;
      height: 36px;
      padding: 0 36px 0 12px;
    }

    svg {
      position: absolute;
      right: 6px;
      font-size: 24px;
      color: $blue;
      top: 6px;
    }
  }

  &.sidebar-collapsed {

    .map-sidebar {
      left: -350px;
      transition: all .3s ease;
    }

    .map-holder {
      left: 0;
    }
  }
}
