@import "../../styles/base.scss";

.wrapper {
  h1 {
    margin-bottom: 18px;
    color: $blue;
  }
  .section {
    padding-bottom: 60px;

    @media all and (max-width: 768px) {
      padding-bottom: 30px;
    }

    .leftSection {

      @media all and (max-width: 768px) {
        grid-column: 1/4;
        padding-right: 0;
      }


      @media all and (max-width: 991px) {
        margin-bottom: 9px;
      }
    }
    h1 {
      color: $lightBlack;
      text-transform: none;

      @media all and (max-width: 1024px) {
        font-size: 18px;
      }

      @media all and (max-width: 768px) {
        margin-top: 15px;
      }
    }
    h4 {
      color: $red2;
    }
    p {
      span {
        display: block;
      }
    }
    .rightSection {
      grid-column: 2/4;

      .longTitle {
        
        p {
          font-size: 27px;
          display: block;
          line-height: 1.3;
          margin-bottom: 10px;
        }
      }

      .title {
        color: $blue2;
        display: block;
        font-size: 22px;
        margin-bottom: 21px;
      }

      @media all and (max-width: 768px) {
        grid-column: 1/4;
      }
    }
  }

  // &:global(.red-title) {

  //   .title {
  //     color: $red2 !important;
  //   }
  // }
}
