@font-face {
  font-family: 'Good Pro';
  src: url('../fonts/GoodPro-News.woff2') format('woff2'),
      url('../fonts/GoodPro-News.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Good Pro';
  src: url('../fonts/GoodOffc-Medium.woff2') format('woff2'),
      url('../fonts/GoodOffc-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Good Pro';
  src: url('../fonts/GoodOffc-Bold.woff2') format('woff2'),
      url('../fonts/GoodOffc-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}