@import '../../../styles/partial/vars';

.tabnavWrapper {
  margin-bottom: 60px;
}

/* Jobs and Vacancies CSS */
.innerWrapper {
  :global(.greyWrapper) {
    padding-bottom: 80px;
    padding-top: 30px;
  }
  
  .address {
    margin-top: 30px;
    span {
      display: block;
      &:first-child {
        color: $red;
      }
    }
  }

  .vacanciesSection {
    padding-top: 80px;

    :global(.heading) {
      margin-top: 18px;
    }

    .tableHead {
      width: 100%;

    }

    .expansionGrid {

      .expansionDeadline {
        text-align: center;
      }

      .apply {
        text-align: right;
        padding-right: 55px;
        
        a {
          color: $red;
        }
      }
    }

    .expanded {
      width: 40%;
      margin-left: 66px;

      @media all and (max-width: $screenMobile) {
        width: 100%; 
        margin-left: 0;
      }
    }
  }
}

/* Meet Our Employees*/
.content {
  h4 {
    color: $blue;
  }
  p {
    margin-top: 18px;
  }
  .socialIcons {
    a {
      margin-right: 18px;
      color: $borderGrey;
      transition: all .3s ease;
      &:hover {
        color: $blue2;
        transition: all .3s ease;
      }
    }
  }

  :global(._title) {
    color: $blue2 !important;
  }
}
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .listElement {
    margin-bottom: 50px;
    cursor: pointer;
  }

  .bodListText {
    margin-top: 9px;
    span {
      display: block;

      &:first-child {
        color: $blue2;
        font-size: 18px;
        font-weight: 700;
      }

      &:last-child {
        color: $lightBlack;
      }
    }
  }
}

/* Application CSS */
.formElement {
  display: flex;
  margin-bottom: 18px;
  &:last-child {
    margin-bottom: 0;
  }
  
  span {
    width: 30%;
  }

  input {
    border: 1px solid $borderGrey;
    padding: 3px 15px;
    &.name {
      width: 70%;
    }
    &.file {
      border: none;
      padding: 0;
    }
  }

  select {
    border: 1px solid $borderGrey;
    padding: 3px;
  }

  .button {
    margin-top: 18px;
  }
}

.tableContainer {
  overflow: auto;

  .tableInner {
    min-width: 600px;
  }
}