.wrapper {
  .flexSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
    .description {
      flex: 1;
      color: #fff;
      .text {
        padding-right: 300px;
      }
    }
    .form {
      flex: 1;
      h3 {
        color: #fff;
      }
    }
  }
}