@import "../../styles/partial/vars";

.savings-calculator {
  min-height: 500px;

  .main {
    background: $grey;
    background: $grey;
    box-shadow: 0 0 10px transparentize(#000, 0.7);
    opacity: 0;

    @media all and (max-width: 1024px) {
      grid-column: 1/3;
    }

    .text-label {
      background: #fff;
      padding: 3px 9px;
      border: 1px solid $borderGrey;
      min-width: 51px;
      display: inline-block;
      text-align: center;
      margin: 0 6px;
    }

    .head {

      .head-tab {
        background: $lightBlack;
        color: #fff;
        text-align: center;
        padding: 9px 80px;
        line-height: 1.3;
        flex: 1;

        @media all and (max-width: 425px) {
          margin-bottom: -9px;
        }

        &.active {
          background-color: $red;
        }
      }
    }

    .body {
      padding: 18px;

      .range {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .rc-slider {
    margin: 9px 0;

    .rc-slider-rail {
      background-color: $darkGrey;
      height: 2px;
    }
    
    .rc-slider-track {
      height: 2px;
      background-color: $blue;
    }

    .rc-slider-handle {
      border: none;
      margin-top: -6px;
      background-color: $blue;
    }
  }

  .result {
    opacity: 0;

    @media all and (max-width: 1024px) {
    }

    .block-big-title {
      text-align: center;
      display: flex;
      flex-direction: column;
      height: 100%;

      .arrows {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: $red;
        font-weight: 700;
      }

      .title {
        padding: 21px 0;
      }
    }
  }

  &.compact {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main {
      background: none;
      box-shadow: none;
      display: flex;
      flex-direction: column;
      height: 100%;

      .head {
        display: flex;
        border-bottom: 2px solid #D0D0D0;

        .head-tab {
          padding: 9px;
          background: #EBE9E5;
          color: #000;

          &.active {
            color: $red;
          }

          &:not(:last-child) {
            border-right: 1px solid #D0D0D0;
          }
        }
      }

      .body {
        flex-grow: 1;
        position: relative;
      }

      .calc-bottom {
        padding: 12px;
        padding-right: 0;
        align-self: flex-end;

        ._result {
          color: $red;
        }
      }
    }
  }

  .ant-select {
    font-size: 12px;
    width: 100px;

    .ant-select-selection {
      height: 29px;
      border-radius: 0;
    }
  }

  .error {
    color: $red2;
    font-size: 12px;
  }
}

.calc-button {
  display: flex;
  justify-content: center;
}

.calculator-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  padding: 18px;
  transition: all .3s ease;

  > div {
    margin-bottom: 24px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
  }
}