@import "../../styles/base.scss";

.content-card {
  background: $white;
  border-top: 2px solid $red;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  overflow: auto;

  table {
    min-width: 600px;
  }

  .wysiwyg {
    overflow: unset;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
}
