@import '../../styles/base';
@import '../../styles/partial/vars';

.tableBodyWrapper {
  margin: 3px 0;

  .tableContents {
    display: flex;
    justify-content: space-between;
    padding: 13px 30px;
    margin-top: 6px;
    background: $grey;

    @media all and (max-width: $screenMobile) {
      padding: 6px;
    }
  }
}
