@import '../../styles/partial/vars';

.top {
  margin-bottom: 30px;

  :global(.ant-calendar-picker) {

    input {
      border-radius: 0;
      background: none;
      height: 42px;
      border-color: #CCC;
      
      &:focus, &:hover, &:active {
        border-color: #CCC !important;
        box-shadow: none;
      }
    }
  }
}
.tableGrid {
  width: 100%;
}
.buying {
  text-align: center
}
.others {
  text-align: center;
}
.selling {
  text-align: right;
}
.flag {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  img {
    margin-right: 9px;
    width: 60px;
  }

  @media all and (max-width: $screenMobile) {
    align-items: flex-start;
    color: $blue2;

    img {
      display: none;
    }
  }
}
:global(.table-contents) {
  background: $grey;
}

.datePicker {
  display: flex;
}

.fakeDateInput {
  position: relative;
  margin-right: 9px;

  input {
    width: 60px;
    padding: 3px 24px 3px 9px;
    cursor: pointer;
    background: none;
    border: 1px solid #D0D0D0;
  }

  svg {
    position: absolute;
    right: 6px;
    top: 9px;
    pointer-events: none;
  }
}

.empty {
  text-align: center;
  padding: 15px 0;
}

.forex-subscribe {

  h1 {
    color: $blue2;
    text-align: center;
  }

  form {

    > div {
      margin-bottom: 15px;

      label {
        display: block;
      }

      input {
        width: 100%;
        border: 1px solid #D0D0D0;
        display: block;
        padding: 3px 15px;
        height: 35px;
      }
    }
  }
}

.button {
  width: 100%;
  background: $red2;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  color: #fff;
  padding: 0;
  height: 45px;
  opacity: .45;
  transition: all .3s ease;

  &:hover {
    opacity: 1;
    transition: all .3s ease;
  }
}

.date {
  color: $red;
  font-size: 18px;
  margin-bottom: 18px;
}

.forexGroup {
  margin-bottom: 18px;
}