@import '../../../styles/partial/vars';

.wrapper {

  :global(.white-gradient) {
    padding-bottom: 1px;
  }


  .greyBack {
    padding: 60px 0;
    .heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      
      
      h1 {
        color: $blue;
      }
      @media all and (max-width: 768px) {
        flex-direction: column;
        text-align: center;
      }

      .location {
        color: $red;
      }
    }

    :global(.commonWrapper) {
      display: flex;
      justify-content: center;
    }
  }
  .strip {
    padding-bottom: 45px;
  }
}

.heading {
    
  h1 {
    color: $blue;
  }
}

/* Component Locker Size Css Below */
.lockerSizeWrapper {
  padding-top: 30px;
  padding-bottom: 60px;

  :global(.table-wrapper), :global(.content-header) {
    min-width: 700px;
  }

  :global(.tab-pane-wrapper) {
    overflow: auto;
  }
}

/* Component Locker Table Css Below*/
.tableWrapper {
  margin-top: 30px;
  .tableHead {
    width: 100%;
  }
  .topHeading {
    width: 100%;
  }
  .tableBodyWrapper {
    :global(.table-contents) {
      background: $grey;
    }
  }
  .dimension {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }
  .charges {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }
  .hwd {
    display: flex;
    justify-content: space-around;
  }
  .deposits {
    text-align: center;
  }
  .anualCharges {
    display: flex;
    justify-content: space-around;
  }
  
}

.otherTables {
  
  :global(.content-header), :global(.ant-row) {
    width: 100%;
  }
}

.tableSection {
  margin-bottom: 30px;
  overflow: auto;

  :global(.content-header), :global(.table-body-wrapper) {
    min-width: 700px;
  }
}