@import "../../styles/partial/vars";

.content-header {
  background: $grey;
  color: $red2;
  display: flex;
  padding: 18px 30px;

  &.grey {
    background: $grey;
    color: $red2;
  }

  @media all and (max-width: 375px) {
    padding: 12px;
    font-size: 14px;
  }

  .align-left {
    align-self: flex-start;
  }

  .align-right {
    align-self: flex-end;
  }

  @media all and (max-width: $screenMobile) {
    padding: 6px 15px;
  }
}
