@import '../../../styles/partial/vars';

.wrapper {
  :global(.heading) {
    margin-bottom: 18px;
  }
  :global(.table-contents){
    background: $grey;
  }
  .gridWrapper {
    width: 100%;
  }
  .depositsTable {
    :global(.table-contents) {
      background: $grey;
    }
  }
}

.bottomSection {
  padding-bottom: 60px;
  .noteText {
    color: $blue2;
    margin-top: 60px; 
    margin-bottom: 30px;
  }
  .tabContent {
    margin-top: 30px;
  }

  :global(.tab-nav-list) {
    @media all and (max-width: 425px) {
      width: auto;
      overflow-x: auto;
      ul {
        width: max-content;
      }
    }
  }
}

.annum {
  text-align: right;
}