@import "../../styles/partial/vars";

.language-switcher {
  position: relative;
  color: $white;
  margin-right: 30px;

  .active {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .more {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease;
    background: $blue;
    width: 69px;
    margin-left: -9px;
    z-index: 1000;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 3px 9px;
        cursor: pointer;
      }
    }

    &.open {
      max-height: 100px;
      transition: all .3s ease;
    }
  }

  &.mobile {
    margin-left: 30px;
    margin-right: 0;
    color: #003f92;

    .more {
      color: #FFF;
    }
  }
}