@import '../../../styles/partial/vars';

.wrapper {
  :global(.tab-nav-list) {
    @media all and (max-width: 1024px) {
      width: auto;
      overflow-y: auto;
      ul {
        width: max-content;
      }
    }
  }
}

/* Saving Accounts Css Here */
.savingAccount {
  margin-top: 30px;
  .gridWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .sn {
      width: 45px;
    }
    .details {
      flex-grow: 1;
    }
  }
  // :global(._panel) {
  //   background: $white;
  // }
  .primaryPanel {
    display: flex;
    justify-content: space-between;
    p {
      margin-bottom: 0;
    }
    a {
      margin-right: 15px;
    }
  }
}