@import '../../../../styles/partial/vars';

.wrapper {
  background: $grey;
  .heading {
    color: $blue;
    margin-bottom: 18px;
  }
  .accordianWrapper {
    .tableHeadTitles {
      display: flex;
      justify-content: space-between;
      width: 100%;
      span {
        &:nth-child(1) {
          width: 45px;
        }
        &:nth-child(2) {
          flex-grow: 1;
        }
      }
    }
    :global(._panel) {
      background: $white;
    }
    .primaryPanel {
      display: flex;
      justify-content: space-between;
      p {
        margin-bottom: 0;
      }
      a {
        margin-right: 15px;
      }
    }
  }
}

/* Financial Transaction Css */
.transactionWrapper {
  margin-top: 60px;
  .transactionTabNavWrapper {
    padding-top: 80px;
    :global(.tab-nav-left) {
      margin: 0;
    }
  }
  .heading {
    margin-bottom: 18px;
    h1 {
      color: $blue;
    }
  }
}

/* Financial Transaction Table Css */
.whiteBg {
  background: $white;
}
.transactionTable {
  .tableHeadTitles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    span {
      &:first-child {
        width: 45px;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
  :global(.table-contents) {
    background: $grey;
    span {
      &:first-child {
        width: 45px;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
}