@import '../../../styles/base.scss';

.wrapper {
  padding: 60px 30px;
  background: #fff;

  h2 {
    color: $blue2;
  }

  .flexBlock {
    display: flex;
    .leftBlock {
      color: $white;
      flex: 1;
      background: url('/img/contact-back.jpg');
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      .generalTexts {
        width: 70%;
        font-family: $primaryFont;
        font-size: 20px;
        font-weight: 400;
      }
    }
    
    .rightBlock {
      flex: 1;
      input, select, textarea {
        border: 1px solid $borderGrey;
      }
      .flexElements {
        display: flex;
        justify-content: space-between;

        .elementEmail {
          width: 67%;
          padding: 0 6px;
          padding-bottom: 9px;
          span {
            display: block;
            margin-bottom: 6px;
          }
          input {
            display: block;
            width: 100%;
            padding: 3px 15px;
          }
        }
      }
    }

    @media all and (max-width: $screenTablet) {
      flex-direction: column;

      .leftBlock,
      .rightBlock {
        min-width: 100%;
      }

      .leftBlock {
        min-height: 600px;
      }
    }
  }

  @media all and (max-width: 769px) {
    padding: 15px 0;

    .ant-row {
      width: auto !important;
    }
  }
}

.elementQuery {
  padding-bottom: 9px;
  span {
    display: block;
    margin-bottom: 6px;
  }
  textarea {
    display: block;
    width: 100%;
    resize: none;
    padding: 9px;
  }
}

.element {
  width: 100%;
  margin-bottom: 18px;
  span {
    display: block;
    margin-bottom: 6px;
  }
  input {
    display: block;
    padding: 3px 15px;
    width: 100%
  }
}

.elementDepartment {
  padding: 0 6px;
  padding-bottom: 9px;
  span {
    display: block;
    margin-bottom: 6px;
  }
  select {
    display: block;
    width: 100%;
    padding: 6px;
    color: $borderGrey;
  }
}

.elementCheckbox {
  padding: 0 6px;
  padding-bottom: 9px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  input {
    margin-right: 6px;
  }
}

.button {
  width: 100%;
  background: $red2;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  color: #fff;
  padding: 0;
  height: 45px;
  opacity: .45;
  transition: all .3s ease;

  &:hover {
    opacity: 1;
    transition: all .3s ease;
  }
}