@import '../../../styles/partial/vars';

.innerWrapper {
  padding: 60px 0;
  // background: $grey;
  .heading {
    color: $blue2;
    font-size: 36px;
    margin-bottom: 30px;
  }
  .content {
    h4 {
      color: $blue;
    }
    p {
      margin-top: 18px;
    }

    :global(._title) {
      color: $blue2 !important;
    }

    .socialIcons {
      a {
        margin-right: 18px;
        color: $borderGrey;
        transition: all .3s ease;
        &:hover {
          color: $blue2;
          transition: all .3s ease;
        }
      }
    }
  }
  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .bodListText {
      margin-top: 9px;
      span {
        display: block;

        &:first-child {
          color: $blue2;
          font-size: 18px;
          font-weight: 700;
        }

        &:last-child {
          color: $lightBlack;
        }
      }
    }

    .listElement {
      margin-bottom: 50px;
      
      .relativeList {
        position: relative;
        overflow: hidden;
        &:hover {
          .teamText {
            bottom: 0;
            transition: all .3s ease;
          }
        }

        .teamText {
          background: rgba(0, 0, 0, 0.46);
          padding: 18px 30px;
          color: $white;
          position: absolute;
          width: 100%;
          bottom: -92px;
          transition: all .3s ease;
        }
      }
    }
  }
}
