@import '../../../styles/partial/vars';

.iconBlockWrapper {
  padding-top: 75px;
  padding-bottom: 75px;

  @media all and (max-width: 425px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.ebankingWrapper {
  margin-top: 30px;
}
.bigTitleBlockSetWrapper {
  margin: 75px 0;
}

.paymentsTabNav {
  display: flex;
  margin-bottom: 90px;
  justify-content: center;

  @media all and (max-width: 425px) {
    flex-wrap: wrap;
  }
}

.navItem {
  margin: 0 30px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  text-align: center;
  
  .navImage {
    background: $blue2;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 9px;
    overflow: hidden;
    padding: 3px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  span {
    font-size: 14px;
  }
}