@import "../../styles/base.scss";

.wrapper {
  font-family: $secondaryFont;
  display: flex;
  justify-content: center;
}

.inner {
  width: 600px;
  max-width: 100%;
  background: #fff;
  border: 1px solid #b2b2b2;
}

.bar {
  border-bottom: 1px solid #b2b2b2;
  display: flex;
}

.icon {
  padding: 9px;
  border-right: 1px solid #b2b2b2;
}

.entry {
  padding: 9px;
  flex-grow: 1;

  input {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
  }
}

.popular {
  padding: 30px;
}

.title {
  font-size: 24px;
  font-family: $secondaryFont;
  color: $blue;
}

.popularList {
  padding-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.item {
  border-bottom: 1px solid #b2b2b2;
  padding: 9px 0;

  svg {
    color: $red;
    margin-right: 12px;
  }

  a {
    color: #000;
    font-size: 12px;

    &:hover {
      color: $blue;
    }
  }
}

.searchResults {
  padding: 12px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}
