@import '../../../styles/partial/vars';

.wrapper {
  .heading {
    h1 {
      color: $blue;

      @media all and (max-width: 768px) {
        text-align: center;
      }
    }
  }
  .contentWrapper {
    padding: 60px 0;
    :global(._section) {
      margin-bottom: 30px;
    }

    @media all and (max-width: 768px) {
      padding: 45px 0;
    }

    .btn {
      padding-top: 9px;
    }
  }
}
