@import '../../../styles/partial/vars';

.wrapper {
  :global(.head-tab) {
    flex: 1;
  }
}

.heading {
  color: $blue2;
}

.inner {
  display: flex;

  @media all and (max-width: $screenTablet) {
    flex-direction: column;
  }
}

.left {
  flex: 1;
  background: url('/img/swoyambhu.png');
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  padding: 30px;

  @media all and (max-width: $screenTablet) {
    min-height: 500px;
  }
}

.right {
  flex: 1;
  padding: 30px 110px 30px 30px;

  @media all and (max-width: $screenTablet) {
    padding: 30px;
  }
}