@import '../../../styles/partial/vars';

.wrapper {
  :global(.heading) {
    margin-bottom: 66px;

    @media all and (max-width: 768px) {
      text-align: center;
    }
  }

  :global(.tab-nav-list) {
    @media all and (max-width: 425px) {
      width: auto;
      overflow: auto;

      ul {
        width: max-content;
      }
    }
  }

  :global(._section) {
    h4 {
      color: $blue;
      font-size: 24px;
    }
  }

  .managerInfo {
    span {
      display: block;
      margin-bottom: 12px;
    }
  }

  .secondaryWrapper {
    padding: 66px 0;
  }

  .tabContent {
    padding-top: 60px;
    
    @media all and (max-width: 425px) {
      padding-top: 30px;
    }
  }

  .bigBlockSetWrapper {
    background: $grey;
    :global(.single-block) {
      background: $white;
      border-right: 1px solid $grey !important;
    }
  }
}

/* StaffTbl CSS */
.staffTbl {
  .location {
    color: $red;
    margin-bottom: 18px;
    display: flex;
    justify-content: flex-end;

    @media all and (max-width: 435px) {
      justify-content: center;
    }
  }

  :global(.table-contents) {
    background: $grey;
  }

  .table {
    width: 100%;

    @media all and (max-width: 425px) {
      font-size: 14px;
    }
  }
}

/* Enquiry CSS */
.enquiry {
  :global(.heading) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    @media all and (max-width: 425px) {
      flex-direction: column;
    }
    .location {
      color: $red;
    }
  }

  .flexBlock {

    .block {
      padding: 30px 0;
      flex: 1;
      .content {
        h5 {
          color: $red;
        }
        span {
          display: block;
        }
      }
    }

    :global(.content-card) {
      background: $grey;
      padding-bottom: 75px;
      height: 100%;

      @media all and (max-width: 768px) {
        padding-bottom: 30px;
      }
    }
  }
}

.tableContainer {
  overflow: auto;

  .tableInner {
    min-width: 650px;
  }
}

.officer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
  
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 15px;

    img {
      margin-bottom: 15px;
    }
  
    .name,
    .address,
    .designation {
      font-weight: bold;
    }
  }
}

.markdown {
  text-align: center;
  p {
    margin: 0;
  }
}