.bigTitleSetWrapper {
  padding: 80px 0;
  opacity: 0;
}

@media all and (max-width: 768px) {
  .bigTitleSetWrapper {
    padding: 45px 0;
  }
}

.bigTitleBlockSetFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px 0px #8080807d;
          box-shadow: 0px 0px 10px 0px #8080807d;
}

@media all and (max-width: 768px) {
  .bigTitleBlockSetFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.bigTitleBlockSetFlex :global(.single-block) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #fff;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bigTitleBlockSetFlex :global(.single-block):last-child {
  border-right: none;
}

@media all and (max-width: 768px) {
  .bigTitleBlockSetFlex :global(.single-block) {
    border: none;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 10px 0px #8080807d;
            box-shadow: 0px 0px 10px 0px #8080807d;
  }
  .bigTitleBlockSetFlex :global(.single-block):last-child {
    margin-bottom: 0;
  }
}

.bigTitleBlockSetFlex :global(.arrows) .withArrows .flexSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bigTitleBlockSetFlex :global(.arrows) .withArrows .flexSection svg {
  color: #ED1C24;
  font-size: 22px;
}

.bigTitleBlockSetFlex span {
  display: block;
  margin-bottom: 6px;
  font-family: "PT Sans", sans-serif;
}

@media all and (max-width: 425px) {
  .bigTitleBlockSetFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.module.css.map */