@import "../../../../styles/partial/vars";

.stock-exchange {

  :global(.single-block) {
    height: 100%;
  }

  @media all and (max-width: 425px) {
    display: none;
  }

  table {
    width: 100%;
  }

  .today {
    color: $red;
    margin-bottom: 18px;
    font-size: 24px;
  }

  .stock-graph {
    overflow: hidden; //temp
    box-shadow: $boxShadow;
  }
}