@import '../../../styles/base';

.wrapper {
  .greyInner {
    .heading {
      margin-bottom: 30px;

      h1 {
        color: $blue;
      }
    }
    .flexSection {
      font-family: $primaryFont;
      :global(.single-block) {
        background: #fff;
        box-shadow: $boxShadow;
        padding-bottom: 40px;
      }
      form {
        position: relative;
        .formElements {
          display: flex;
          flex-direction: column;
          margin-bottom: 21px;
          label {
            width: 30%;
          }
          input {
            width: 100%;
            border: 1px solid #D0D0D0;
            height: 35px;
            background: #ffffff;
            padding: 0 12px;

            &:active, &:focus {
              border-color: $blue2;
            }
          }
        }
        .buttons {
          display: flex;
          position: absolute;
          button {
            margin-right: 15px;
            border-radius: 3px;
            padding: 10px 30px;
            font-size: 12px;
            color: $red2;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    .bottomSection {
      background-size: cover !important;
      .bottomFlex {
        display: flex;
        justify-content: flex-end;
        padding: 60px;
        padding-bottom: 220px;
        .benifits {
          h1 {
            margin-bottom: 45px;
            color: $blue;
          }
          ul {
            list-style: none;
            padding: 0;
            position: relative;
            li {
              margin-bottom: 9px;
              display: flex;
              svg {
                margin-right: 12px;
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }
}