@import '../../../styles/partial/vars';

.tabnavWrapper {
  padding-bottom: 36px;
}

/* VIDEO SECTION */

.videoSection {
  :global(.heading) {
    margin-top: 18px;
  }
}

.videoCardWrapper {
  margin: -25px;

  .videoCard {
    padding: 25px;
  }

  /* Slider CSS*/
  :global(.slick-dots) {
    text-align: center;

    :global(.slick-active) {
      button {
        background: $blue;
      }
    }

    li {
      display: inline-block;
      margin-right: 15px;

      button {
        border: none;
        text-indent: -9999px;
        width: 12px;
        height: 12px;
        border-radius: 15px;
        outline: none;
      }
    }
  }
}