@import '../../styles/base.scss';

.wrapper {
  color: #fff;
  position: relative;
  // height: 520px;

  @media all and (max-width: 769px) {
    // height: 420px;
  }

  @media all and (max-width: 500px) {
    // height: 210px;
  }
  img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }
  .textWrapper {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .heading {
      width: 60%;
      h1 {
        text-transform: none;
        color: #fff;

        @media all and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
    .text {
      width: 500px;
      font-size: 14px;

      @media all and (max-width: 425px) {
        display: none;
      }
      
    }
    a {

      @media all and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

.applyButton {
  background: $blue2;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  font-weight: 400;
  padding: 6px 9px;
}