@import "../../styles/base.scss";

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  background: $white;
  border-radius: 11px;
  
  h1 {
    color: $black;
  }
}