@import '../../styles/partial/vars';

.wrapper {

  button {
    background: none;
    border: 1px solid $red;
    color: #707070;
    border-radius: 3px;
    padding: 10px 18px;
    transition: all .3s ease;

    &:hover {
      background: $red;
      color: $white;
      transition: all .3s ease;
    }

  }

  &:global(.disabled) {

    button {
      cursor: not-allowed;

      &:hover {
        background: none;
        color: #707070;
          }
    }
  }
}