@import "../../styles/partial/vars";

.date {
  color: $red;
  font-size: 18px;
  margin-bottom: 18px;
}

.table {
  width: 100%;
  font-size: 14px;
}

.stockGraph {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}