@import '../../../styles/partial/vars';

.wrapper {
  .greyBack {
    padding: 60px 0;
    .heading {
      margin-bottom: 30px;

      h1 {
        color: $blue;
      }

      @media all and (max-width: 768px) {
        text-align: center;
      }
    }
    .contentWrapper {
      span {
        display: inline-block;
        color: $red;
        margin-left: 3px;
      }
    }
    .features {
      ul {
        list-style: none;
        padding: 0;
        position: relative;
        display: flex;
        
        li {
          margin-bottom: 12px;
          text-align: left;
          width: 33%;

          @media all and (max-width: 425px) {
            width: 100%;
          }

          svg {
            margin-right: 12px;
          }
        }

        @media all and (max-width: $screenMobile) {
          display: block;
        }
      }
    }
  }
  .contentHeaderWrapper {
    margin-top: 60px;
    span {
      &:first-child {
        width: 45px;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
}

.expansionPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media all and (max-width: 425px) {
    align-items: initial;
    font-size: 14px;
  }

  p {
    margin-bottom: 0;
  }
  img {
    width: 15px;
    height: 15px;
    margin-right: 15px;
  }
}