.tableWrapper {
  background: red;
  color: #fff;
  padding: 9px;
}

.tableWrapper .tableHeadWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tableWrapper .tableHeadWrapper :nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tableWrapper .tableHeadWrapper :nth-child(2) {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.tableWrapper .tableHeadWrapper :nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
/*# sourceMappingURL=tableHeader.module.css.map */