@import '../../../../styles/partial/vars';

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contentLink {
  color: rgba(0, 0, 0, 0.65);
  
  &:hover {
    color: rgba(0, 0, 0, 0.65);
  }
}