@import "../../../../styles/partial/vars";

.noPadding {
  padding: 0 !important;
}

.wrapper {
  padding: 60px 0;
  // background: #fff;

  .flexBlock {

    .block {
      background: url('/img/paper-bg.jpg');
      padding: 27px;
      border-radius: 6px;
      position: relative;
      box-shadow: $boxShadow;
      height: calc(100% - 41px);

      @media all and (max-width: $screenTablet) {
        height: auto;
        margin-bottom: 60px;
      }
    }
  }
}
