@import '../../styles/base.scss';

.elementsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    width: 65%;
    text-align: center;
    font-weight: 600;
    color: $darkGrey;
    padding: 9px;
    border: 1px solid #D0D0D0;
    margin-bottom: 15px;
  }
  .currency {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .currencySelector {
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      select {
        border: none;
        cursor: pointer;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        padding-left: 18px;
        option {
          padding-left: 0;
        }
      }
    }
  }
  .number {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
  }
}

.wrapper {
  .greyInner {
    padding-top: 60px;
    .heading {
      margin-bottom: 30px;

      h1 {
        color: $blue;
      }
    }
    .flexSection {
      margin-bottom: 30px;

      @media all and (max-width: 1024px) {
        flex-direction: column;
      }

      &.flexSectionMob {
        @media all and (max-width: 1024px) {
          flex-direction: column-reverse;
        }
      }

      :global(.single-block) {
        background: none;
        box-shadow: $boxShadow;
        background: $white;
      }
      :global(.commonWrapper) {

        @media all and (max-width: 1024px) {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        :global(.mob-overlay) {
          @media all and (max-width: 1024px) {
            width: 393px;
          }
        }

        a {
          color: #fff;
          text-decoration: none;
        }
      }
      .list {
        list-style: none;
        padding: 0;
        position: relative;
        li {
          margin-left: 12px;
          margin-bottom: 12px;
          display: flex;

          @media all and (max-width: 425px) {
            margin-left: 0;
          }
          
          svg {
            margin-right: 12px;
            font-size: 22px;
          }
        }
      }
    }
    .bottomSection {
      margin-top: 75px;
      color: $darkGrey;
      background-size: cover !important;

      @media all and (max-width: 1024px) {
        background: none !important;
      }

      @media all and (max-width: 425px) {
        margin-top: 45px;
      }

      .outerSection {
        display: flex;
        justify-content: flex-end;
        padding: 60px 0;

        @media all and (max-width: 425px) {
          padding: 0 0 45px 0; 
        }

        @media all and (max-width: 1024px) {
          justify-content: initial;
        }

        .innerSection {
          width: 50%;

          @media all and (max-width: 1024px) {
            display: flex;
            justify-content: center;
            width: 100%;
          }

          @media all and (max-width: 425px) {
            flex-direction: column;
          }

          :global(.single-block) {
            background: #fff;
            height: auto !important;
            h4 {
              text-align: center;
            }

            @media all and (max-width: 1024px) {
              flex: 1;
            }
          }
          .bottomList {
            margin-top: 30px;
            color: #000;

            @media all and (max-width: 1024px) {
              flex: 1;
              display: flex;
              align-items: center;
              margin-top: 0;
            }

            ul {
              padding: 0;
              list-style: none;
              position: relative;

              @media all and (max-width: 1024px) {
                margin-left: 45px;
              }

              @media all and (max-width: 425px) {
                margin-left: 0;
                margin-top: 18px;
                margin-bottom: 0;
              }

              li {
                margin-bottom: 12px;
                display: flex;
                svg {
                  margin-right: 12px;
                }
              }
            }
          }
        }
      }
    } 
  }
}