@import '../../../styles/partial/vars';

.wrapper {
  :global(.heading) {
    h1 {
      text-transform: none;
    }
  }
}

.content {
  .publishedDetail {
    margin-bottom: 15px;
    span {
      color: $red;
      margin-bottom: 18px;
    }
  }
  img {
    margin-bottom: 18px;
  }
}

.moreNews {
  padding-top: 80px;
  .cardWrapper {
    margin: -25px;
    :global(._card-text) {
      background: transparent;
      padding: 30px 0;

      h1,h2,h3,h4,h5,h6 {
        color: $blue2;
        font-size: 22px;
      }
    }
    .card {
      padding: 25px;
    }
  }
}

.social {
  display: flex;

  > * {
    margin-right: 15px;
  }
}