@import '../../../styles/partial/vars';

.innerWrapper {
  padding-top: 60px;
  background: $grey;
  padding-bottom: 60px;

  :global(.tab-nav-list) {
    @media all and (max-width: 425px) {
      width: auto;
      overflow: auto;

      ul {
        width: max-content;
      }
    }
  }
}