@import '../../../styles/partial/vars';

.wrapper {
  :global(.common-class-btn) {
    button {
      color: #fff;
    }
  }

  :global(.heading) {
    margin-top: 18px;

    @media all and (max-width: 425px) {
      text-align: center;
    }
  }

  :global(.tab-nav-left) {
    @media all and (max-width: 425px) {
      width: auto;
      overflow: auto;

      ul {
        width: max-content;
      }
    }
  }
}

/* NEWS CSS */
.cardWrapper {
  margin: -25px;
  .card {
    padding: 25px;

    @media all and (max-width: 768px) {
      display: flex;
    }

    @media all and (max-width: 425px) {
      flex-direction: column;
    }
  }
}

/* VIDEOS CSS*/
.videoCardWrapper {
  margin: -25px;
  .videoCard {
    padding: 25px;

    @media all and (max-width: 425px) {
    }
  }
}