@import "./base.scss";
@import "./partial/icons";

body {
  font-family: $secondaryFont !important;
  background: url('/img/paper-bg.jpg') no-repeat fixed;

  &.modal-open {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

button, *[role="button"] {
  cursor: pointer;
}

:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h5 {
  font-family: $primaryFont;
  color: #fff;
  font-weight: 300;

  &.heading {
    color: $blue2;
    text-transform: uppercase;
  }
}
h1 {
  text-transform: uppercase;
}

p {
  font-family: $secondaryFont;
  font-size: 14px;

  .red {
    color: $red2;
  }
}

a {

  &.button-link {
    background: $red2;
    color: #fff;
    padding: 12px 16px;
  }
}

#wrapper {
  position: relative;
  padding-top: 105px;

  @media all and (max-width: $screenMedium) {
    padding-top: 85px;
  }
}

.big-container {
  width: 100%;
  max-width: 1750px;
  margin: auto;
  padding: 0 30px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;

  @media all and (max-width: 1300px) {
    padding: 0 69px 0 30px;
  }
}

.small-container {
  width: 100%;
  max-width: 650px;
  margin: auto;
}

// slider
.hero-slider {
  position: relative;
  // background: #ebe9e5;
  margin-bottom: 45px;

  .slick-dots {
    display: flex !important;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    li {
      width: 15px;
      height: 19px;
      align-items: center;
      display: flex;
      margin: 0 5px;
      button {
        background: #A4A4A4;
        border: none;
        text-indent: -9999px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        outline: none;
        padding: 0;
      }
      &.slick-active button {
        background: $blue;
        width: 12px;
        height: 12px;
      }
    }
  }
  
  .slider-content {
    color: #000;
    display: flex;
    justify-content: center;
    padding: 21px;
    padding-bottom: 30px !important;

    p {
      margin-bottom: 0;
    }
  }
}

.ant-drawer {
  z-index: 5002 !important;
}

// Forex Slider
.slick-prev {
  display: block;
  position: absolute;
  z-index: 1;
  left: -79px;
  top: 0;
  bottom: 0;
  background: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}
.slick-next {
  display: block;
  position: absolute;
  z-index: 1;
  right: -79px;
  top: 0;
  bottom: 0;
  background: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

// Buttons
button {
  font-family: $primaryFont;
}
.btnRed {
  padding: 9px 12px;
  background: $redGradient;
  border-radius: 3px;
  border: 1px solid $red;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.btnblue {
  padding: 9px 12px;
  background: $blueGradient;
  border-radius: 3px;
  border: 1px solid $blue;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.heading {
  h1 {
    color: $blue;

    @media all and (max-width: 425px) {
      font-size: 27px;
    }
  }
  margin-bottom: 30px;
}

.greyWrapper{
  background: $grey;
  padding-top: 60px;
  padding-bottom: 80px;

  @media all and (max-width: 1024px) {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}

.datePickerHide {
  display: none;
}

.white-gradient {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.47942927170868344) 37%, rgba(255,255,255,1) 100%);

  &.reset {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

// global transitions
.global-fade {
  opacity: 1;
  transition: all .2s ease;
}

.global-fade-enter, .global-fade-exit {
  opacity: 0;
  transition: all .3s ease;
}

.spacer {
  width: 100%;
  padding-bottom: 45px;
}

.main--content {
  padding: 60px 0;
}

.wysiwyg {
  color: #3C3C3C;
  font-family: $secondaryFont;
  overflow: auto;

  table {
    min-width: 600px;
  }
  
  h1,h2,h3,h4,h5,h6 {
    color: #3C3C3C;
    font-family: $secondaryFont;
    font-weight: 700;
  }

  p {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

    li {

      background: url('/img/right-arrow-2x.png') left 7px no-repeat;
      background-size: 5px;
      padding-left: 21px;
      margin-bottom: 12px;
    }
  }

  a {
    color: $red2;
  }
}

.site-loading {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-loading {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.page-loader {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  &.__transparent {
    background: none;
  }

  &.__medium {
    height: 300px;
  }
}

.ant-menu-item-selected {
  background-color: transparent !important;

  a {
    color: #3c3c3c !important;

    &:after {
      display: none;
    }
  }
}

.ant-notification {
  z-index: 5010;
}

._spaced_tp {
  margin-top: 230px;
}

.slick-slide {
  visibility: hidden;

  &.slick-active {
    visibility: visible;
  }
}

.ant-row {
  width: 100%;
}

.search-list {

  .search-item {
    background: #EFEFEF;
    padding: 15px;
    margin-bottom: 15px;

    a {
      color: $blue2;
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 9px;
      display: inline-block;
    }

    .search-body {

      span {
        background: #cdcdcd;
        color: $blue2;
        font-weight: bold;
      }
    }
  }
}

._panel {
  background: #FFF;
}

.content-card {

  table {

    tr {

      td {
        padding: 9px;
      }
    }
  }
}