@import "../../styles/partial/vars";

.outer {
  position: fixed;
  right: 15px;
  top: 30%;
  z-index: 5000;
}

.wrapper {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.19);

  .iconWrapper {
    display: block;
    border-bottom: 1px solid $white;
    padding: 6px 9px;

    &:last-child {
      border-bottom: none;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #dbdbdb;
    }

    .icon {
      font-size: 24px;
      text-align: center;

      svg {
        color: #a4a4a4;

        &:hover {
          color: $blue2;
        }
      }
    }
  }
}

.info {
  position: relative;

  .button {
    background: $red2;
    color: #fff;
    margin-top: 18px;
    border-radius: 50%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.19);
    cursor: pointer;
    animation-duration: 1.3s;
  }

  .submenu {
    background: #fff;
    position: absolute;
    bottom: 0;
    right: -400px;
    width: 320px;
    max-width: 100vw;
    border-radius: 6px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.19);
    transition: all .3s ease;
    max-height: 350px;

    &::-webkit-scrollbar {
      display: none;
    }
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
  
      li {
        padding: 12px 18px;
        
        &:not(:last-child) {
          border-bottom: 1px solid #dedede;
        }
  
        a {
          color: #000;
        }
      }
    }
  }

  &:hover {

    .submenu {
      right: 48px;
      transition: all .3s ease;
    }
  }
}
