@import "../../../styles/base.scss";

.ant-drawer-body {
  padding: 0;
}

.drawer-logo {
  padding: 36px 0;
  text-align: center;

  img {
    max-width: 162px;
  }
}

.ant-drawer-content-wrapper {
  max-width: calc(100vw - 70px);
}

.ant-menu-submenu-selected {
  color: $black;
}

.ant-menu-submenu-title {
  color: $black;

  i {
    color: $black;

    &:before, &:after {
      background: $black;
    }
  }

  &:active, &:hover {
    background: none;
    color: $black;

    &:before, &:after {
      background: $black;
    }
  }
  
}

.ant-menu-item {

  > a {
    color: $black;

    &.active {
      color: $blue2;
    }

    &:hover {
      color: $black;
    }
  }
}

.bottom-logos {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-top: 25px;

  > * {
    margin-bottom: 15px;
  }
}