@import "../../../styles/partial/vars";

.main-menu {

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      position: relative;
      margin: 0;
      display: flex;
      align-items: flex-start;

      .dropdown {
        position: absolute;
        width: 250px;
        left: 0;
        z-index: 5;
        padding-top: 24px;
        opacity: 0;
        visibility: hidden;
        top: 31px;
        transition: .3s ease;

        > ul > li > a.active {
          font-weight: bold;
          background: #CCC;
        }
  
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          background: #fff;
          border: 1px solid #CCC;
          border-top: none;
          // min-height: 280px;

          > li {

            &:hover {

              > a {

                font-weight: bold;
                    background: #CCC;
              }
            }
          }
  
          li {
            position: static;
            margin: 0;
            
            &:not(:last-child) {
              border-bottom: 1px solid $grey;
            }
  
            a {
              display: block;
              padding: 12px 15px;
              margin: 0;
              width: 100%;
              display: block;

              &:hover {
                font-weight: bold;
                background: #CCC;
              }
            }

            .submenu {
              position: absolute;
              left: 100%;
              top: 24px;
              // min-height: calc(100% - 24px);
              width: 580px;
              display: flex;
              opacity: 0;
              visibility: hidden;
              background: #FFF;
              transition: all .3s ease;

              &.__lockers {
                width: 300px;
              }

              .submenu-details {
                flex: 1;
                padding: 15px;
                background: $grey;
              }
              
              ul {
                background: #FFF;
                height: 100%;
                flex: 1;
                border: none;

                > li {
                  margin-bottom: 0;
                }
                
                li.menuli {

                  .menulib {
                    p {
                      font-weight: bold;
                    }
                  }
                }
              }
              
              .submenu-extra {
                background: #FFF;
                padding: 9px;
                flex: 1;
                
                .menu-image {
                  position: relative;
    
                  ._overlay {
                    
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    padding: 12px;
                    background: transparentize(#000, $amount: 0.5);
                    color: $white;
                    font-size: 16px;
    
                    img {
                      max-width: 100%;
                    }
    
                    ._name {
                      font-weight: 700;
                      margin-bottom: 3px;
                    }
    
                    p {
                      line-height: 1;
                    }
    
                    a {
                      color: $red;
                      display: inline;

                      &:hover {
                        background: none;
                      }
                    }
                  }
                }
              }
            }

            &:hover {
              
              .submenu {
                opacity: 1;
                visibility: visible;
                transition: all .15s ease;
              }
            }
          }
        }
      }

      &:hover {

        .dropdown {
          opacity: 1;
          visibility: visible;
          transition: all .15s ease
        }
      }
    }
  }
}

.e-banking-link {
  display: flex;
  align-items: flex-end;
  margin-right: 24px;
  color: $red;

  img {
    margin-right: 7px;
  }
}