@import "../../../styles/base.scss";

#mobile-menu {
  display: none;
  background: $grey;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;

  .clicker {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 60px;
      color: $blue2;
    }
  }

  .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    img {
      max-width: 162px;
    }
  }

  .search {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 36px;
      color: $blue2;
    }
  }

  @media all and (max-width: $screenMedium) {
    display: flex;
  }
}
