@import "../../../styles/base";

.headerWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5001;
}

.topNav  {
  background: url("/img/header_back_1.png") $blue;
  height: 38px;
  display: flex;
  align-items: center;

  @media all and (max-width: $screenMedium) {
    display: none;
  }
}
.bottomNav {
  background: url("/img/header_back_2.png") #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media all and (max-width: $screenMedium) {
    display: none;
  }
}

// Top nav
.topNavFlex {
  display: flex;
  justify-content: space-between;
}
.leftMenu {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  .flags {
    margin-right: 45px;
    img {
      &:first-child {
        margin-right: 9px;
      }
    }
  }

  @media all and (max-width: 1600px) {
    font-size: 16px;
  }
}
.rightMenu {
  font-size: 18px;
  display: flex;
  a:last-child {
    margin-right: 0;
  }

  @media all and (max-width: 1600px) {
    font-size: 16px;
  }
}
.topMenuInner {
  a {
    color: #fff;
    text-decoration: none;
    margin-right: 45px;
    font-family: $secondaryFont;
    position: relative;

    &:global(.active) {

      &::after {
        content: "";
        height: 2px;
        width: 100%;
        background: #ED1C24;
        position: absolute;
        left: 0;
        bottom: -11px;
      }
    }
  }
}

// Bottom nav
.btmNavFlex {
  display: flex;
  justify-content: space-between;
  height: 66px;
  align-items: center;
  .left {
    display: flex;
    justify-content: flex-start;
    .logo {
      margin-right: 20px;
      img {
        width: 120px;
      }
    }
    .btmMenuInner {
      display: flex;
      align-items: center;
      a {
        color: #000;
        text-decoration: none;
        font-family: $secondaryFont;
        padding: 9px 13px;
        min-height: 43px;
        transition: color .3s ease;
        display: flex;
        align-items: center;

        svg {
          color: $red2;
          font-size: 24px;
        }

        @media all and (max-width: 1600px) {
          font-size: 14px;
          margin-left: 12px;
        }

      }

      > ul {

        > li {

          &:hover {
            color: #fff !important;
            background: url('/img/menu-hover.png');

            > a {
              color: #FFF;
            }
          }
        }
      }

      :global(.dropdown) {
        a {
          margin-left: 0;
        }
      }
    }
  }
  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    img {
      margin: 0 9px;
    }
    button {
      width: 95px;
      margin-right: 30px;
      background: $redGradient;
      border: none;
      color: #fff;
    }
    input {
      display: none;
    }
  }
}

.icon {
  cursor: pointer;
  font-size: 21px;
}

.mainMenuA {
  margin-left: 0 !important;
  padding-left: 10px !important;

  &:global(.withChild) {
    padding-right: 1px !important;
  }

  &:hover {
    color: #fff !important;
    background: url('/img/menu-hover.png');
  }

  &:global(.inPath) {
    color: #fff !important;
    background: url('/img/menu-hover.png');
  }

  &:global(.current) {
    color: #fff !important;
    background: url('/img/menu-hover.png');
  }

  &:not(:global(.inPath)) {

    &:hover {
      color: $red;
      transition: color .15s ease;
    }
  }
}

.secondLogo {
  color: #fff;
  margin-right: 30px;
  background: url('/images/NIBL-logo-full.png') left center no-repeat;
  background-size: 100%;
  width: 250px;
  display: block;
}
