@import "../../styles/partial/vars";

.flexBlock {
  font-size: 14px;

  .block {
    display: flex;
    margin-bottom: 24px;

    .innerBlock {
      img {
        display: block;
        margin-right: 6px;
        max-width: 60px;
        width: 100%;
      }

      span {
        display: block;

        &.currency {
          color: $blue; 
        }
      }
    }
  }
}

.button {
  background: no-repeat;
  border: 1px solid $red;
  padding: 3px 27px;
  border-radius: 3px;
  color: $black;
  display: inline-block;

  &:hover {
    color: $black;
  }
}

.forex-block-table {

  ._heading {
    padding: 9px;
    background: $grey;

    span {
      font-size: 12px;
      color: $red2;
    }
  }

  ._body {

    :global(.ant-row-flex) {
      background: $grey;
      padding: 9px 9px 3px 9px;
      margin: 12px 0;
    }

    span {
      font-size: 12px;
    }

    .currency {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        max-width: 36px;
      }

      span {
        font-weight: bold;
        color: $blue2;
      }
    }
  }
}

.tableColCenter {
  
  span {
    display: block;
  }
}

.date {
  color: $red;
  font-size: 18px;
  margin-bottom: 18px;
}