@import "../../styles/base.scss";

.ebankingWrapper {

  :global(.tab-nav-list) {
    margin-bottom: 80px;
  }

  :global(.heading) {
    margin-bottom: 60px;
    text-transform: none;
  }

  :global(.content-header) {

    span {
      max-width: 130px;
      display: block;
    }
  }
}

.loginWrapper {
  display: flex;
  justify-content: center;
  padding: 0 60px;

  a {
    border: 1px solid $red2;
    border-radius: 3px;
    padding: 10px 15px;
    color: #000;
    transition: all .3s ease;

    &:hover {
      color: #fff;
      background: $red2;
      transition: all .3s ease;
    }
  }
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 30px 0;

  > * {
    margin: 0 30px;
  }
}